/*reset.css*/
body {
  margin: 0;
  padding: 0;
}
h1,
p {
  margin: 0;
}
a {
  text-decoration: none;
  color: inherit;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
/*import-font*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap");

/*pc-font-setting*/
body {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 18px;
  color: #333;
}

h1 {
  font-size: 44px;
  color: #02235b;
}
/*전체 셋팅*/
.wrap {
  display: flex;
  height: 100%;
  padding: 100px 100px;
  align-items: center;
  max-width: 1500px;
  margin: 0 auto;
}

.best-menu .wrap,
.franchise .wrap,
.notice .wrap {
  flex-flow: column;
}

.tablet-nav {
  display: none;
}

.section-title {
  padding-bottom: 100px;
  text-align: center;
}

.section-title p {
  padding-top: 10px;
}

.section-title-moblie {
  display: none;
}

.more-btn {
  display: inline-block;
  margin-top: 50px;
  padding: 10px 20px;
  border-radius: 50px;
  background-color: #f7a30a;
  font-size: 16px;
  color: #fff;
  position: relative;
  overflow: hidden;
}

/*header*/
header {
  height: 100px;
  position: relative;
}

header .wrap {
  padding: 0 100px;
  justify-content: space-between;
}

header .wrap > a {
  display: flex;
  justify-content: center;
}

header .wrap > a > img {
  height: 60px;
}

.gnb-pc-main-menu {
  width: 100%;
}

.gnb-pc-main-menu li {
  float: left;
}

.gnb-pc-main-menu li a {
  display: block;
  width: 135px;
  padding: 20px;
  box-sizing: border-box;
  font-weight: 700;
  text-align: center;
  white-space: pre;
  color: #02235b;
}

.gnb-pc-main-menu li a:hover {
  color: #f7a30a;
}

.gnb-pc-main-menu li a.on {
  color: #f7a30a;
}

.gnb-pc-sub-menu {
  display: none;
  z-index: 1;
  width: 100%;
  position: absolute;
  border-top: 1px solid #b7b7b7;
  background-color: #fff;
}

.gnb-pc-sub-menu.active {
  display: block;
}

.gnb-pc-sub-menu .wrap {
  justify-content: end;
  padding: 0 100px 50px 100px;
  position: relative;
}

.pc-sub-menu {
  float: left;
}

.pc-sub-menu li a {
  display: block;
  width: 135px;
  padding: 20px;
  font-size: 16px;
  text-align: center;
  white-space: pre;
  box-sizing: border-box;
}

.pc-sub-menu li a:hover {
  font-weight: 700;
  color: #f7a30a;
}

.test {
  position: absolute;
  bottom: 50px;
  left: 100px;
  /* translate: 0 -50%; */
}

/*main-slide*/
.main-slide {
  height: 750px;
  position: relative;
}

.slide-item {
  width: 100%;
  height: 100%;
  position: relative;
}

.slide-item a {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
}

.slide-item a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slide-btn {
  margin-bottom: 20px;
  position: absolute;
  left: 50%;
  bottom: 20px;
  translate: -50% 0;
}

.slide-btn li {
  width: 15px;
  height: 15px;
  margin-left: 20px;
  float: left;
  border-radius: 100%;
  background-color: #d9d9d9;
  cursor: pointer;
}

.slide-btn li.on {
  background-color: #f7a30a;
}

/*best-menu*/
.best-menu-item-inner {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.best-menu-item {
  width: 23%;
  height: 400px;
  border-radius: 30px;
  transition: 0.3s;
}

.best-menu-item:hover {
  translate: 0 -20px;
}

.best-menu-item img {
  width: 100%;
  height: 350px;
  object-fit: contain;
}

.best-menu-item p {
  height: 50px;
  line-height: 50px;
  text-align: center;
}
/*brand-info*/
.brand-info {
  background-color: #f3f3f3;
}

.brand-info .wrap {
  justify-content: space-between;
}

.brand-info .more-btn {
  margin-top: 10px;
}

.brand-item {
  width: 48%;
  opacity: 0;
}

.brand-item:last-child {
  display: flex;
  flex-flow: column-reverse;
}

.brand-item > img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.brand-title h1 {
  font-size: 44px;
}

.brand-title p {
  padding: 10px 0;
}

.store-search-btn {
  margin-bottom: 10px;
}

.store-search-btn input {
  height: 50px;
  margin: 0;
  padding: 17px 10px;
  box-sizing: border-box;
  border: none;
  border-radius: 50px 0 0 50px;
  background-color: #fff;
}

.store-search-btn input:focus {
  outline: none;
}

.store-search-btn input::placeholder {
  color: #999;
  font-size: 16px;
  text-align: center;
}

.store-search-btn button {
  width: 60px;
  height: 50px;
  border: none;
  box-sizing: border-box;
  border-radius: 0 50px 50px 0;
  background-color: #f7a30a;
  translate: -10px;
}

.store-search-btn button img {
  margin-right: 5px;
}

/*franchise*/
.franchise-item-inner {
  display: flex;
  width: 100%;
  height: 130px;
  align-items: center;
}

.franchise-item {
  width: 20%;
  text-align: center;
  transition: 0.3s;
}

.franchise-item:hover {
  translate: 0 -20px;
}

.franchise-item p {
  margin-top: 10px;
}

/*notice*/
.notice-item-inner {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.notice-item {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  width: 23%;
  height: 250px;
  padding: 40px;
  box-sizing: border-box;
  background-color: #f3f3f3;

  transition: 0.3s;
}

.notice-item:hover {
  translate: 0 -20px;
  box-shadow: 5px 5px 10px #e4e4e4;
}

.notice-item span {
  text-align: right;
  font-size: 12px;
}

.notice > .wrap > p {
  width: 100%;
  padding: 50px 0;
  font-size: 14px;
  text-align: right;
  cursor: pointer;
}

/*award*/

.award {
  height: 70px;
  padding-bottom: 50px;
  position: relative;
  overflow: hidden;
}
.award-item-inner {
  display: flex;
  width: 500%;
  position: absolute;
}

.award-item {
  display: flex;
  align-items: center;
  height: 70px;
  margin: 0 25px;
}

.award-item p {
  font-size: 14px;
}

/*footer*/
footer {
  display: flex;
  height: auto;
  flex-flow: column;
  align-items: center;
  position: relative;
  background-color: #02235b;
  color: #f3f3f3;
}

footer .wrap {
  padding: 50px 100px;
  flex-flow: column;
  justify-content: space-between;
}

.footer-top {
  display: flex;
  width: 100%;
  justify-content: center;
  border-bottom: 1px solid #b7b7b7;
}

.footer-top li a {
  display: inline-block;
  padding: 20px;
}

.footer-bottom {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.footer-copy-info {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.footer-copy-info p {
  margin-bottom: 10px;
  font-size: 14px;
}

.footer-copy-info p :last-child {
  margin: 0;
}

.footer-float-content {
  position: absolute;
  right: 100px;
  bottom: 50px;
}

.footer-franchise {
  margin-bottom: 20px;
  /* text-align: center; */
  font-weight: 700;
}

.footer-franchise p {
  font-size: 20px;
  color: #f7a30a;
}

.footer-franchise span {
  display: block;
  font-size: 28px;
  color: #f3f3f3;
}

.sns-icon a {
  margin-right: 10px;
}

.sns-icon a:last-child {
  margin-right: 0;
}
/* ================================================== */
/* ================= tablet-version  ================= */
@media (max-width: 1199px) {
  .wrap {
    padding: 50px;
  }

  .section-title {
    padding-bottom: 50px;
  }

  .pc-nav {
    display: none;
  }

  .tablet-nav {
    display: block;
  }
  /*header*/
  header .wrap {
    padding: 0 50px;
    justify-content: space-between;
  }

  .tablet-drawer-menu {
    padding: 10px;
  }

  .tablet-drawer-menu span {
    display: block;
    width: 30px;
    height: 2px;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: #02235b;
  }

  .tablet-drawer-menu span:last-child {
    margin-bottom: 0;
  }

  .tablet-gnb-menu-list {
    display: none;
    width: 60vh;
    height: 100vh;
    position: absolute;
    top: 100px;
    right: 0;
    background-color: #fff;
    z-index: 1;
  }

  .tablet-gnb-menu-list.active {
    display: block;
  }

  .tablet-gnb-menu > li > a {
    font-weight: 700;
    color: #02235b;
  }

  .tablet-gnb-menu a {
    display: block;
    padding: 20px;
  }

  .tablet-sub-menu {
    display: none;
  }

  .tablet-sub-menu.active {
    display: block;
  }

  .tablet-sub-menu a {
    font-size: 16px;
  }

  /*best-menu*/
  .best-menu-item-inner {
    flex-flow: row wrap;
  }

  .best-menu-item {
    width: 48%;
    margin-bottom: 30px;
    padding: 10px;
    box-sizing: border-box;
  }

  .best-menu-item:nth-child(3),
  .best-menu-item:nth-child(4) {
    margin-bottom: 0;
  }

  /*brand-info*/

  .brand-item > img {
    height: 300px;
  }

  /*franchise*/

  /*notice*/
  .notice-item-inner {
    flex-flow: row wrap;
  }

  .notice-item {
    width: 48%;
    margin-bottom: 30px;
  }
  /*award*/

  .award-item-inner {
    display: flex;
    padding: 50px 0;
    flex-flow: row;
  }

  .award-item {
    display: flex;
    width: 200px;
    height: 70px;
    margin: 0 25px;
    flex-flow: row;
  }

  /*footer*/
  .footer-float-content {
    display: none;
  }
}
/* ================================================== */
/* ================= moblie-version ================= */
@media (max-width: 767px) {
  /*moblie-font-setting*/
  * {
    font-size: 16px;
  }

  .section-title {
    padding: 0;
    padding-bottom: 50px;
  }

  h1 {
    font-size: 36px;
    color: #02235b;
  }

  .wrap {
    padding: 50px 20px;
  }

  .more-btn {
    margin-top: 50px;
    font-size: 14px;
  }

  .section-title-pc {
    display: none;
  }

  .section-title-moblie {
    display: block;
  }

  /*header*/
  header {
    height: 50px;
  }

  header .wrap {
    padding: 0 20px;
  }

  header .wrap > a {
    display: flex;
    justify-content: center;
  }

  header .wrap > a > img {
    height: 40px;
  }

  .tablet-drawer-menu {
    padding: 0px;
  }

  .tablet-drawer-menu span {
    width: 20px;
    height: 2px;
    margin-bottom: 5px;
    border-radius: 10px;
  }

  /*main-slide*/
  .main-slide {
    height: 500px;
  }

  .slide-btn {
    margin-bottom: 10px;
    bottom: 10px;
  }

  .slide-btn li {
    width: 10px;
    height: 10px;
    margin-left: 15px;
  }

  /*best-menu*/
  .best-menu .wrap {
    display: flex;
  }
  .best-menu-item-inner {
    display: block;
    height: 320px;
    position: relative;
  }

  .best-menu-item {
    display: none;
    flex-flow: column;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    position: absolute;
  }

  .best-menu-item.active {
    display: flex;
  }

  .best-menu-item img {
    height: 90%;
  }

  .best-menu-item p {
    height: 10%;
  }

  /*brand-info*/

  .brand-info .wrap {
    flex-flow: column wrap;
  }

  .brand-item {
    width: 100%;
  }

  .brand-item:last-child {
    flex-flow: column;
    margin-top: 50px;
  }

  .brand-item > img {
    width: 100%;
    height: 280px;
    object-fit: cover;
  }

  .brand-title h1 {
    font-size: 36px;
  }

  .store-search-btn {
    margin: 0px;
  }

  .store-search-btn input {
    height: 40px;
    padding: 15px 5px;
  }

  .store-search-btn input::placeholder {
    font-size: 14px;
  }

  .store-search-btn button {
    width: 60px;
    height: 40px;
    transform: translate(-10px, 5px);
  }

  .store-search-btn button img {
    margin-right: 5px;
  }

  /*franchise*/
  .franchise-item-inner {
    flex-flow: row wrap;
    justify-content: space-between;
    height: auto;
  }

  .franchise-item {
    width: 48%;
    margin-bottom: 30px;
  }

  .franchise-item:nth-child(3),
  .franchise-item:nth-child(4) {
    margin-bottom: 0;
  }

  .franchise-item:last-child {
    display: none;
  }
  /*notice*/
  .notice-item-inner {
    display: block;
    height: 210px;
    position: relative;
  }

  .notice-item {
    width: 100%;
    height: 100%;
    position: absolute;
  }

  .notice > .wrap > p {
    padding: 0;
    padding-top: 50px;
  }
  /*award*/
  .award {
    display: none;
  }

  /*footer*/
  footer {
    font-size: 14px;
  }

  footer .wrap {
    padding: 0 20px;
  }

  .footer-top {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 10px 0;
    border-bottom: 1px solid #b7b7b7;
  }

  .footer-top li {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 50%;
  }

  .footer-top li a {
    display: inline-block;
    padding: 20px;
    box-sizing: border-box;
    white-space: pre;
  }

  .footer-bottom {
    margin-bottom: 20px;
    text-align: center;
  }
}
/* ================================================== */
